@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container {
    height: calc(100dvh - 128px);
}

#peers {
    min-height: calc(100dvh - 128px);
}
#peers .peer {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    min-height: calc((100dvh - 128px)/3 - 5px);
    cursor: pointer;
}

#peers .peer.peer-hidden {
    display: none !important;
}

#peers .peer .peer-user{
    position: absolute;
    top: 10px;
    left: 10px;
    background: var(--tw-primary-500);
    color: white;
    font-size: 13px;
    padding: 4px 8px;
    border-radius: 4px;
    pointer-events: none;
    z-index: 1;
}

#peers .peer .media {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: black;
}

#peers .peer .media.mirror {
    transform: scaleX(-1);
}

#peers .peer .media.camera {
    object-fit: cover !important;
}

.sidebar {
    height: calc(100dvh - 32px);
    max-width: calc(100vw - 32px);
    transform: translateX(400px);
}

.user-sidebar {
    height: calc(100dvh - 32px);
    max-width: calc(100vw - 32px);
}
.user-sidebar:not(.open) {
    transform: translateX(400px);
}

body.has-sidebar .sidebar {
    transform: translateX(0px) !important;
}

@media (min-width: 1024px) {
    body.has-sidebar .main-container {
        margin-right: 366px;
    }

    .sidebar,
    .user-sidebar {
        height: calc(100dvh - 128px);
    }
}

#chatbox .message-header {
    margin-top: 12px;
}
#chatbox .message-user {
    font-weight: 600;
    margin-right: 6px;
}

#chatbox .message-time {
    color: #5f6368;
    font-style: italic;
    font-size: 12px;
}

#chatbox .message-content {
    white-space: pre-wrap;
    word-wrap: break-word;
}

#chatbox .message-content > div {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 6px;
    background-color: #dfdfdf;
    margin-bottom: 4px;
}

@media (max-width: 767px) {
    #peers {
        display: flex;
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr) !important;
    }

    #peers .peer {
        min-height: 200px !important;
    }
}

.user-p {
    padding: 8px 10px;
    border-radius: 6px;
    background-color: #dfdfdf;
    margin-bottom: 4px;
    display: flex;
    width: 100%;
    align-items: center;
    gap: 8px;
}

.user-p::before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: green;
}
.user-p.user-status-camera {
    padding-right: 36px;
    background-image: url('/assets/video.svg');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center right 10px;
}

#peers.has-pinned {
    grid-template-columns: repeat(1, 1fr) !important;
}

#peers.has-pinned .peer:not(.pinned) {
    display: none !important;
}